@charset "UTF-8";

body {
    background-color: #efefef;
}


.main {
    background-color: floralwhite;
    margin: 20px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 40px;
    height: 40px;
}

.media-body {
    padding-top: 10px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}

.profile .section {
    margin-top: 15px;
}

.community-menu {
    color: #999;
    font-size: 12px;
    display: block;
    margin-bottom: 15px;
}

.jumbotron {
    margin: 50px;
}

.comment {
    margin: 15px 0;
}

.comment_sp {
    margin: 0;
}

.menu {
    color: #999;
}

.menu .icon {
    margin-right: 10px;
    margin-top: 5px;
    font-size: 15px;
    cursor: pointer;
}


.menu .active {
   color: #2b669a;

}
.menu .icon:hover {
    color: #269abc;
}

.comments {
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.comment-content {
    color: #262626;
    /*background-color: #269abc;*/
}

.question-title {
    margin-top: 30px;
}

.sub-comments{
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}
.sub-comments .btn{
    margin: 10px 0;
}

.menu .comment-icon{
    font-size: 15px;
    cursor: pointer;
}
.menu .comment-icon:hover {
    color: #269abc;
}